include ../mixins/sub-menu.pug

header.header
  .container
    .inner-wrap
      .inner-logo
        a(href="/")
          img(src="/images/pic.png" alt="Logo")
   
      .inner-menu
        ul
          li
            a(href="/") Home Page
          li.has-submenu
            a(href="/products") Products
            if(categories)
               +sub-menu(categories, "/products")
               
        