include ../mixins/sub-menu.pug

header.header
  .container
    .inner-wrap
      .inner-logo
        a(href="/")
          img(src="/images/pic.png" alt="Logo")
      
      form(
        action="/search"
        method="GET"
      )
        div(class="form-group d-flex mb-0")
          input(type="text", placeholder="Type your word...", class="form-control", name="keyword", value=keyword)
          button(type="submit", class="form-control btn btn-primary") Search
   
      .inner-menu
        ul
          li
            a(href="/") Home Page
          li.has-submenu
            a(href="/products") Products
            if(categories)
               +sub-menu(categories, "/products")
          li 
            a(href="") Cart (#{miniCart ? miniCart.total:"0"  })
            
               
        