extends ../../layouts/default.pug

include ../../mixins/successAlert.pug
include ../../mixins/sort.pug
include ../../mixins/table-tree.pug

block main
  if(role.permissions.includes("products-category_create"))
    h1 Product Categories
    +errorAlert()
    +successAlert()

    .card.mb-3
        .card-header
            | List
        .card-body
            .row
                .col-8
                .col-4.text-right
                   if(role.permissions.includes("products-category_create"))
                    a.btn.btn-outline-success(href="/admin/product-category/create")
                        | Add new

    table.table.table-hover.table-sm(check-box-multi)
        thead
            tr
                th
                    input(type="checkbox", name="checkall")
                th Order
                th Thumbnail
                th Title
                th Position
                th Status
                th Action

        tbody
           +table-tree(list)
  else 
    h1 You are not allowed
    script(src="/admin/js/products.js")
