extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/product-layout-grid.pug
block main 
 div(class="container py-5")
  div(class="row")
    div(class="col-12")
      +box-head(pageTitle)

  div(class="row g-4") 
   +product-layout-grid(products)
    