html 
 div(class="sider") 
  div(class="inner-menu")
    ul
        li
            a(href="/admin/dashboard") Overview 
        if(role.permissions.includes("products-category_view"))
            li 
                a(href="/admin/product-category") Categories
        if(role.permissions.includes("products_view"))
            li 
                a(href="/admin/products") Products
        if(role.permissions.includes("roles_view"))
            li 
                a(href="/admin/roles") Permission and roles
        if(role.permissions.includes("roles_permission"))
            li 
                a(href="/admin/roles/permission") Assign permission
        if(role.permissions.includes("accounts_view"))
            li 
                a(href="/admin/accounts") Accounts management
        li
            a(href="/admin/settings/general") General settings
        